<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DarkRiftNetworking.Hazel" version="0.1.2-beta" targetFramework="net461" />
  <package id="DevZH.FlatBuffers" version="1.4.0" targetFramework="net461" />
  <package id="LiteDB" version="4.0.0-beta1" targetFramework="net461" />
</packages>